@font-face {
  font-family: "iconfont";
  /* Project id 4762730 */
  src: url('//at.alicdn.com/t/c/font_4762730_artyn4wdcgw.woff2?t=1733309834023') format('woff2'),
    url('//at.alicdn.com/t/c/font_4762730_artyn4wdcgw.woff?t=1733309834023') format('woff'),
    url('//at.alicdn.com/t/c/font_4762730_artyn4wdcgw.ttf?t=1733309834023') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yueliang:before {
  content: "\e653";
}

.icon-mulu:before {
  content: "\e63e";
}

.icon-taiyang:before {
  content: "\e68a";
}

.icon-fanhui:before {
  content: "\e65f";
}

.icon-xiayige:before {
  content: "\e6d6";
}

.icon-sousuo:before {
  content: "\e73d";
}

.icon-nv:before {
  content: "\e6da";
}

.icon-nan:before {
  content: "\e60d";
}

.icon-wode:before {
  content: "\e62f";
}

.icon-shuben:before {
  content: "\e603";
}

.icon-shujia:before {
  content: "\e612";
}

.icon-fenlei:before {
  content: "\e695";
}
