<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue2/vue.js"></script>
  <link rel="stylesheet" href="./css/简易评论系统.css">
</head>

<body>
  <main>
    <h1>简易的评论系统</h1>
    <div id="app">
      <div class="comments">
        <input type="text" placeholder="请输入用户名" maxlength="6" minlength="3" v-model="userName"
          :disabled="isUserNameLocked">
        <input type="text" placeholder="请输入评论内容" v-model="comment">


        <button v-on:click="publication">发表评论</button>
        <button v-on:click="revise">修改用户名</button>
      </div>

      <div v-for="user in users" class="content">
        <!-- 用户名 -->
        <div class="username">{{user.userName}}:</div>
        <!-- 评论内容 -->
        <div class="comment" :class="{'handoff': user.off}">{{user.comment}}</div>
        <span class="btnBox" v-show="user.btnShow">
          <button v-show="!user.off" v-on:click="toggleComment(user)" class="more">收起</button>
          <button v-show="user.off" v-on:click="toggleComment(user)" class="more">更多</button>
        </span>
        <button v-on:click="deleteComment(user.id)">删除评论</button>
        <hr>
      </div>

    </div>
  </main>


  <script>

    let data = {

      userName: "",
      comment: "",
      // 数组对象存储评论
      users: [
        { id: 1, userName: "小楠酿", comment: "你好呀", off: true },
      ],

      // 用户名输入栏状态
      isUserNameLocked: false,

    }

    let app = new Vue({
      el: "#app",
      data: data,

      methods: {

        // 发表评论
        publication() {

          if (!this.userName.trim() || !this.comment.trim()) {
            alert("请输入用户名或评论内容")
          } else {
            if (this.comment.length > 180) {
              this.users.push({
                id: this.users.length + 1,
                userName: this.userName,
                comment: this.comment,
                
                off: true,
                btnShow: true

              });
            } else {
              this.users.push({
                id: this.users.length + 1,
                userName: this.userName,
                comment: this.comment,
                off: false,
                btnShow: false

              });
            }

            // 当用户发表评论后进行锁定用户名
            this.isUserNameLocked = true
          }

          this.comment = ""
          localStorage.setItem("users", JSON.stringify(this.users));
        },

        // 修改用户名
        revise() {
          this.userName = ""
          this.isUserNameLocked = false
        },

        // 删除评论
        deleteComment(id) {
          this.users.splice(this.users.findIndex(user => user.id === id), 1);
        },

        // 切换评论显示状态
        toggleComment(user) {
          console.log(user.off);
          this.users = this.users.map(item => {
            if (item.id === user.id) {

              item.off = !item.off
            }
            return item
          })
        },


      },


      // 实例创建之后调用的钩子函数
      created() {
        // 从 localStorage 获取 "users" 数据
        const userse = localStorage.getItem("users");

        // 检查 users 是否存在且不是 null和空数组
        if (userse != null && userse !== "[]") {
          this.users = JSON.parse(userse);
        } else {
          this.users = data.users;
        }


      },

      // 监听器，，监听 users 数据的变化，当数据发生变化时，调用 handler 函数
      watch: {
        users: {
          handler(newVal) {
            localStorage.setItem("users", JSON.stringify(newVal))
          }

        }

      }

    })



  </script>

</body>

</html>
